[submodule "Core"]
	path = Core
	url  = ../BaseballScoreLib.git
[submodule "WpfControl"]
	path = WpfModules
	url  = ../../takahiro-itou/BaseballScoreWpfHelper.git
[submodule "Wrapper"]
	path = Wrapper
	url  = ../BaseballScoreWrapper.git
